---
import RulesCards from "../components/RulesCards";

import Layout from "../layouts/Layout.astro";
import ModeCard from "../components/ModeCard.astro";
import Header from "../components/Header.astro";

import "../styles/global.css";
---

<Layout title="Reglas | Arefy Network">

	<Header mode="header" class="my-8" title="Reglas | Arefy Network" />
	<div class="mx-auto w-4/5 mb-8 h-fit ">
		<ModeCard mode="chat" extraClass="py-4" />
	</div>
	<div class="w-4/5 mx-auto align-center grid sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-4   gap-8 h-2/3">
		<ModeCard mode="skyblock" />
		<ModeCard mode="prison" />
		<ModeCard mode="survival" />
		<ModeCard mode="gens" />
	
	</div>
	<!-- <RulesCards client:load /> -->

	
</Layout>
