---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Reglas | Arefy Network">

	<Header mode="prison" class="my-8" title="Reglas - Prison" />
	<div class="w-4/5 mx-auto align-center grid sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-8 h-2/3">
	
	</div>
	<!-- <RulesCards client:load /> -->

	
</Layout>